<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="author" content="cris.andrs@gmail.com">
 <meta name="description" content="Retorant, Restaurant, Talca, Santiago, www.losganaderos.cl, los ganaderos, ensaladas, losganaderos, los ganaderos, ganaderos, carretera, camino, sur de chile, sur, Vitacura, sucursales, Sucusal Talca, sucursal Santiago, ganadero, parrilladas talca, talca, carnes, carnes a las brazas, carnes a las brasas, carne, parrillada, restaurante, restaurant, vinoteca, vinos, viña, cafeteria, autoservicio, eventos, restaurante, consome, ensaladas, postres, cumpleaños, musica en vivo, mas de 450 variedades de vinos talca carretera, Shareware Free to try">
<META name="keywords" content="en,a,de,por,para,con,el,la,los,las,un,uno,unos,chile,talca,Carnes, parrilldas talca, talca, carnes a las brazas, restaurant, restorante, vinoteca, viña, autoservicio, cafeteria">
<link rel="shortcut icon" type="image/x-icon" href="<?php echo Yii::app()->theme->baseUrl; ?>/images/logo.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" media="all" href="<?php echo Yii::app()->theme->baseUrl; ?>/css/css.css">
<script type="text/javascript" src="<?php echo Yii::app()->theme->baseUrl; ?>/js/jquery.js"></script>
<script type="text/javascript" src="<?php echo Yii::app()->theme->baseUrl; ?>/js/plugin.js"></script>
<title><?php echo CHtml::encode($this->pageTitle); ?></title>
</head>
<body>
<div id="cerrar">
</div>
<div id="sidebar">
	<h1>
		<div id="logo">
			<img src="images/logo.png" width="220" height="118">
		</div>
    </h1>
    
    <nav>
    	<ul>
        	<li><a href="#">Inicio</a></li>
            <li><a href="#">¿Quiénes Somos?</a></li>
            <li><a href="#">Carta</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
    <div class="menu">
		<img src="images/logo.png" width="80" height="43">
    <br>
    <select name="">
      <option>Menú</option>
      <option>Inicio</option>
      <option>¿Quiénes Somos?</option>
      <option>Carta</option>
      <option>Contacto</option>
    </select>
    </div>
</div>
<div id="top">
	<div class="social">
    	<ul>
			<li>G+</li>
    		<li>Facebook</li>
			<li>Twitter</li>
		</ul>
    </div>
    
    <div class="telefono">
    Llamanos <strong>12345679</strong>
    </div>
</div>
<footer>
abajo
</footer>
</body>
</html>
