<style>
	.imagenes{
		float:left;
		clear:left;
		}
	.imagenes img{
		margin:-2px;
		border:0px;
		padding:0px;
		}
	.textoHidden{
		bottom:0px;
		overflow:hidden;
		border:1px solid #000;
		position:absolute;
	}
</style>
<div class="imagenes"> 
	<a href="#"><img src="../../images/Web_01.gif" width="316" height="335">
    <div class="textoHidden">hola</div>
    </a>
    	
	<a href="#"><img src="../../images/Web_02.gif" width="315" height="335"></a>
	<a href="#"><img src="../../images/Web_03.gif" width="314" height="335"></a>
	<a href="#"><img src="../../images/Web_04.gif" width="316" height="334"></a>
	<a href="#"><img src="../../images/Web_05.jpg" width="315" height="334"></a>
	<a href="#"><img src="../../images/Web_06.gif" width="314" height="334"></a>
</div>