<section id="portfolio" class="folioGrid clearfix isotope" style="position: relative; overflow: hidden; width: 1583px; height: 1659px; ">
			
                    
			<a id="post-436" class="folioItem motion isotope-item disableResize" href="#" style="position: absolute; color: rgb(96, 96, 96); z-index: 1; width: 316px; height: 237px; left: 0px; top: 0px;">

				<img src="<?php echo Yii::app()->theme->baseUrl; ?>/images/Web_01.gif" class="folioThumb wp-post-image" alt="O2_for_you_--_Icons" title="O2_for_you_--_Icons" style="opacity: 0.5; margin-top: 0px; ">
				<div class="folioTextHolder" style="height: 0px; bottom: 0px; overflow: hidden; ">
					<div class="folioText" style="opacity: 0; top: -150px; ">
						<h3>Ganaderos Talca</h3>
						<p style="height: auto; ">Praesent vel nulla sed mi semper posuere. Ut odio nibh, molestie quis feugiat sit amet, tincidunt non magna. Maecenas nisl ...</p>
					</div>
				</div>
				
			<span class="folioPlus" style="opacity: 0; bottom: -53px; "></span><!--<span class="folioShadow" style="opacity: 0; margin-top: 0px; height: 0px; overflow: hidden; "></span>--></a>
			
			<a id="post-388" class="folioItem print isotope-item disableResize" data-sort="print[1][0]" data-type="print" href="#" data-name="government-fireman" style="position: absolute; width: 316px; height: 237px; left: 316px; top: 0px; color: rgb(96, 96, 96); z-index: 1; ">

				<img src="<?php echo Yii::app()->theme->baseUrl; ?>/images/Web_02.gif" class="folioThumb wp-post-image" alt="Government_Fireman" title="Government_Fireman" style="opacity: 0.5; margin-top: 0px; ">
				<div class="folioTextHolder" style="height: 0px; bottom: 0px; overflow: hidden; ">
					<div class="folioText" style="opacity: 0; top: -150px; ">
						<h3>Government Fireman</h3>
						<p style="height: auto; ">Phasellus non nibh lorem. Nam non leo urna. Curabitur et pretium urna. Phasellus a nibh est. Nam eu nisl justo, ...</p>
					</div>
				</div>
				
			<span class="folioPlus" style="opacity: 0; bottom: -53px; "></span><!--<span class="folioShadow" style="opacity: 0; margin-top: 0px; height: 0px; overflow: hidden; "></span>--></a>
			
			<a id="post-341" class="folioItem identity isotope-item disableResize" data-sort="identity[1][0]" data-type="identity" href="#" data-name="bird-is-the-word" style="position: absolute; color: rgb(96, 96, 96); z-index: 1; width: 316px; height: 237px; left: 632px; top: 0px; ">

				<img src="<?php echo Yii::app()->theme->baseUrl; ?>/images/Web_03.gif" class="folioThumb wp-post-image" alt="Bird_is_the_word" title="Bird_is_the_word" style="opacity: 0.5; margin-top: 0px; ">
				<div class="folioTextHolder" style="height: 0px; bottom: 0px; overflow: hidden; ">
					<div class="folioText" style="opacity: 0; top: -150px; ">
						<h3>Bird is the word</h3>
						<p style="height: auto; ">Etiam urna libero, aliquet quis sollicitudin ut, gravida nec nibh. Morbi semper neque eget enim aliquam faucibus. Suspendisse tempus lacinia ...</p>
					</div>
				</div>
				
			<span class="folioPlus" style="opacity: 0; bottom: -53px; "></span><!--<span class="folioShadow" style="opacity: 0; margin-top: 0px; height: 0px; overflow: hidden; "></span>--></a>
			
			<a id="post-460" class="folioItem logos isotope-item disableResize" data-sort="logos[1][0]" data-type="logos" href="#" data-name="squid" style="position: absolute; color: rgb(96, 96, 96); z-index: 1; width: 316px; height: 237px; left: 948px; top: 0px; ">

				<img src="<?php echo Yii::app()->theme->baseUrl; ?>/images/Web_04.gif" class="folioThumb wp-post-image" alt="Squid" title="Squid" style="opacity: 0.5; margin-top: 0px; ">
				<div class="folioTextHolder" style="height: 0px; bottom: 0px; overflow: hidden; ">
					<div class="folioText" style="opacity: 0; top: -150px; ">
						<h3>Squid</h3>
						<p style="height: auto; ">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et ...</p>
					</div>
				</div>
				
			<span class="folioPlus" style="opacity: 0; bottom: -53px; "></span><!--<span class="folioShadow" style="opacity: 0; margin-top: 0px; height: 0px; overflow: hidden; "></span>--></a>
			
			<a id="post-484" class="folioItem website-design isotope-item disableResize" data-sort="website-design[1][0]" data-type="website-design" href="#" data-name="patterns" style="position: absolute; color: rgb(96, 96, 96); z-index: 1; width: 316px; height: 237px; left: 1264px; top: 0px; ">

				<img src="<?php echo Yii::app()->theme->baseUrl; ?>/images/Web_05.jpg" class="folioThumb wp-post-image" alt="patterns" title="patterns" style="opacity: 0.5; margin-top: 0px; ">
				<div class="folioTextHolder" style="height: 0px; bottom: 0px; overflow: hidden; ">
					<div class="folioText" style="opacity: 0; top: -150px; ">
						<h3>Patterns</h3>
						<p style="height: auto; ">Integer pulvinar sem nec ipsum commodo volutpat. Nunc porttitor scelerisque urna, nec luctus dolor vestibulum vel. Nulla tempor, turpis ut ...</p>
					</div>
				</div>
				
			<span class="folioPlus" style="opacity: 0; bottom: -53px; "></span><!--<span class="folioShadow" style="opacity: 0; margin-top: 0px; height: 0px; overflow: hidden; "></span>--></a>
			
			<a id="post-451" class="folioItem motion isotope-item disableResize" data-sort="motion[1][0]" data-type="motion" href="#" data-name="opencoach-carousel" style="position: absolute; color: rgb(96, 96, 96); z-index: 1; width: 316px; height: 237px; left: 0px; top: 237px; ">

				<img src="<?php echo Yii::app()->theme->baseUrl; ?>/images/Web_06.gif" class="folioThumb wp-post-image" alt="Opencoach_Carousel_Nav" title="Opencoach_Carousel_Nav" style="opacity: 0.5; margin-top: 0px; ">
				<div class="folioTextHolder" style="height: 0px; bottom: 0px; overflow: hidden; ">
					<div class="folioText" style="opacity: 0; top: -150px; ">
						<h3>Opencoach Carousel</h3>
						<p style="height: auto; ">Vestibulum blandit blandit ultricies. Proin risus lectus, condimentum sed pellentesque quis, tristique a quam. Phasellus id diam eget dui congue ...</p>
					</div>
				</div>
				
			<span class="folioPlus" style="opacity: 0; bottom: -53px; "></span>
		<ul class="folioCategories hidden">
		<li>identity</li><li>logos</li><li>motion</li><li>print</li><li>website-design</li>		</ul>

		</section>